
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>管理员管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" th:href="@{/resources/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/resources/css/public.css}" media="all" />
</head>
<body class="childrenBody">
	<!-- 搜索条件开始 -->
	<blockquote class="layui-elem-quote quoteBox">
	<form class="layui-form" method="post" id="searchFrm">
		<div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">姓名:</label>
		      <div class="layui-input-inline">
		        <input type="text" name="realName" id="realName"  autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">登陆名称:</label>
		      <div class="layui-input-inline">
		        <input type="text" name="administratorName" id="administratorName"  autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">地址:</label>
		      <div class="layui-input-inline">
		        <input type="text" name="address"  autocomplete="off" class="layui-input">
		      </div>
		    </div>
		 </div>
		 
		 <div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">电话:</label>
		      <div class="layui-input-inline">
		        <input type="text" name="phone"  autocomplete="off" class="layui-input">
		      </div>
		    </div>
		     <div class="layui-inline">
		      <label class="layui-form-label">性别:</label>
		      <div class="layui-input-inline" id="sex">
		       		 <input type="radio" id="sex1" name="sex" value="1" title="男">
					 <input type="radio" id="sex2" name="sex" value="0" title="女">
		      </div>
		    </div>
		  <div class="layui-inline" >
		      <button type="button" class="layui-btn layui-btn-normal  layui-icon layui-icon-search" lay-submit lay-filter="formSubmit">查询</button>
		      <button type="reset" id="searchReset" class="layui-btn layui-btn-warm  layui-icon layui-icon-refresh">重置</button>
		    </div>
		 </div>
	</form>
	</blockquote>
	<!-- 搜索条件结束 -->
	
	<!-- 数据表格开始 -->
	<table class="layui-hide" id="administratorTable" lay-filter="administratorTable"></table>
	<div style="display: none;" id="administratorToolBar">
	   <button type="button" class="layui-btn layui-btn-sm" lay-event="add">增加</button>
       <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteBatch">批量删除</button>
	</div>
	<div  id="administratorBar" style="display: none;">
	  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="resetAdministratorPwd">重置密码</a>
	  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	  <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="selectAdministratorRole">分配角色</a>
	   <a class="layui-btn layui-btn-primary layui-btn-xs"  lay-event="viewImage">预览头像</a>
	</div>
	<!-- 数据表格结束 -->
	
	<!-- 添加和修改的弹出层开始 -->
	<div style="display: none;padding: 20px" id="saveOrUpdateDiv" >
		<form class="layui-form layui-row layui-col-space10"  lay-filter="dataFrm" id="dataFrm">
			<div class="layui-col-md12 layui-col-xs12">
				<div class="layui-row layui-col-space10">
					<div class="layui-col-md9 layui-col-xs7">
						<div class="layui-form-item magt3">
							<label class="layui-form-label">登陆名称:</label>
							<div class="layui-input-block">
							     <input type="hidden" name="id">
								<input type="text" name="administratorName" class="layui-input" lay-verify="required" placeholder="请输入登陆名称">
							</div>
							</div>
						<div class="layui-form-item">
							<label class="layui-form-label">姓名:</label>
							<div class="layui-input-block">
								<input type="text" name="realName" id="administratornumber" class="layui-input" lay-verify="required" placeholder="请输入真实姓名">

						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">电话:</label>
							<div class="layui-input-block">
								<input type="text" name="phone" class="layui-input"  lay-verify="required|phone" placeholder="请输入电话号码">
							</div>
						</div>
					</div>
				   </div>
					<div class="layui-col-md3 ">
						<div class="layui-upload-list thumbBox mag0 magt3" id="uploadFile">
							<!-- 显示上传的图片 -->
							<img class="layui-upload-img thumbImg" id="showAdministratorAvatar">
							<!-- 保存当前显示图片的地址 -->
							<input type="hidden" name="avatarUrl" id="avatarUrl">
						</div>
					</div>
				</div>
				
				<div class="layui-form-item magb0">
					<div class="layui-inline">
						<label class="layui-form-label">出生年月:</label>
							<div class="layui-input-block">
								<input type="text" name="birthday"  id="birthday" class="layui-input" lay-verify="required" placeholder="yyyy-MM-dd">
							</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">微信:</label>
							<div class="layui-input-block">
								<input type="text" name="weixin" class="layui-input" lay-verify="required" placeholder="请输入微信">
							</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label"> Q Q:</label>
							<div class="layui-input-block">
								<input type="text" name="qq" class="layui-input" lay-verify="required|number" placeholder="请输入QQ">
							</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">邮箱:</label>
							<div class="layui-input-block">
								<input type="text" name="email" class="layui-input" lay-verify="required|email" placeholder="请输入邮箱">
							</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">兴趣爱好:</label>
						<div class="layui-input-block">
							<input type="text" name="interest" class="layui-input" placeholder="请输入兴趣爱好">
						</div>
				</div>
			
				<div class="layui-form-item magb0">
						<label class="layui-form-label">性别:</label>
						<div class="layui-input-block">
							 <input type="radio" name="sex" value="1" checked="checked" title="男">
							 <input type="radio" name="sex" value="0" title="女">
						</div>
				</div>
				<div class="layui-form-item magb0">
					<label class="layui-form-label">担任角色:</label>
					<div class="layui-input-block">
						 <input type="radio" name="position" value="临时管理员"  checked="checked" title="临时管理员">
							 <input type="radio" name="position" value="管理员" title="管理员">
					</div>
				</div>
				<div class="layui-form-item magb0">
					<label class="layui-form-label">是否可用:</label>
					<div class="layui-input-block">
						 <input type="radio"  name="available" value="1" checked="checked" title="可用">
						 <input type="radio" name="available" value="0" title="不可用">
					</div>
				</div>
				
				<div class="layui-form-item magb0" style="text-align: center;">
					    <div class="layui-input-block">
					      <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doSubmit" lay-submit="">提交</button>
					      <button type="reset"  class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" >重置</button>
					    </div>
				  	</div>
			</div>
		</form>
	
	</div>
	<!-- 添加和修改的弹出层结束 -->
	
	<!-- 管理员分配角色的弹出层开始 -->
	<div style="display: none;padding: 10px" id="selectAdministratorRole">
		<table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
	</div>
	<!-- 管理员分配角色的弹出层结束 -->
	
	<!-- 查看大图弹出的层 开始 -->
	<div id="viewAdministratorImageDiv" style="display: none;text-align: center;">
		<img alt="管理员头像" width="550" height="350" id="view_avatarUrl">
	</div>
	<!-- 查看大图弹出的层 结束 -->
	
	<script th:src="@{/resources/layui/layui.js}"></script>
	<script type="text/javascript">
	    var tableIns;
	    layui.extend({
			dtree:'/resources/layui_ext/dist/dtree'
		}).use([ 'jquery', 'layer', 'form', 'table','dtree', 'laydate','upload' ], function() {
			var $ = layui.jquery;
			var layer = layui.layer;
			var form = layui.form;
			var table = layui.table;
			var dtree=layui.dtree;
			var laydate = layui.laydate;
			var upload = layui.upload;
			
			//渲染时间
			laydate.render({
				elem:'#birthday',
				trigger: 'click',
			    max : 0
			});
			
			//渲染数据表格
			 tableIns=table.render({
				 elem: '#administratorTable'   //渲染的目标对象
			    ,url:'/system/administrator/loadAllAdministrator.html' //数据接口
			    ,method:'post'
			    ,title: '管理员数据表'//数据导出来的标题
			    ,toolbar:"#administratorToolBar"   //表格的工具条
			    ,height:'full-200'
			    ,cellMinWidth:100 //设置列的最小默认宽度
			    ,page: true  //是否启用分页
			    ,cols: [ [   //列表数据
			     {type: 'checkbox', fixed: 'left'}
			      ,{field:'id', title:'ID',align:'center',width:'80',sort:true}
			      ,{field:'administratorName', title:'登陆名',align:'center',width:'120'}
			      ,{field:'realName', title:'真实姓名',align:'center',width:'120'}
			      ,{field:'phone', title:'电话',align:'center',width:'150'}
			      ,{field:'sex', title:'性别',align:'center',width:'80',sort:true,templet:function(d){
			    	  return d.sex=='1'?'男':'女';
			      }}
			      ,{field:'avatarUrl', title:'头像',align:'center',width:'80',templet:function(d){
			    	  return "<img width=40 height=40 src="+d.avatarUrl+" />";
			      }}
			      ,{field:'available', title:'是否可用',width:'100',align:'center', templet:function(d){
			    	  var isAvailable='';
			    	  if(d.available==1){
			    		  isAvailable='checked';
			    	  }
			    	  return '<input type="checkbox" value='+d.id+' lay-filter="isAvailable" lay-skin="switch" lay-text="是|否" '+isAvailable+'>'
			      } }
			      ,{field:'career', title:'职业',align:'center',width:'150'}
			      ,{field:'address', title:'管理员地址',align:'center',width:'260'}
			      ,{fixed: 'right', title:'操作', toolbar: '#administratorBar', minWidth:'400', align:'center'}
			    ] ],
			    done:function(data,curr,count){
			    	//不是第一页时如果当前返回的的数据为0那么就返回上一页
			    	if(data.data.length==0&&curr!=1){
			    		tableIns.reload({
						    page:{
						    	curr:curr-1
						    }
						});
			    	}
			    }
			})
			
			 //是否可用
	        form.on('switch(isAvailable)', function(data){
	            var available=0;
	            var msg="取消可用成功！";
		        var index = layer.msg('修改中，请稍候',{icon: 16,time:false,shade:0.3});
		        
		        setTimeout(function(){
		            if(data.elem.checked){
		            	available=1;
		            	msg='设置可用成功';
		            }
		            //去更新
	            	$.post("/system/administrator/updateAdministrator.html",{id:data.value,available:available},function(res){
	            	    layer.close(index);
	                    layer.msg(msg);
	                    //刷新数据 表格
						tableIns.reload();
	            	})
		        },500);
		        
		       })
			

			//模糊查询
			form.on('submit(formSubmit)', function(data){
				//重置性别
				if (undefined==data.field.sex){
					data.field.sex=null;
				}

				tableIns.reload({
					url:"/system/administrator/loadAllAdministrator.html",
				    where:data.field,
				    page:{curr:1}
				})
			});
			
			//监听头部工具栏事件
			table.on("toolbar(administratorTable)",function(obj){
				 switch(obj.event){
				    case 'add':
				      openAddAdministrator();
				    break;
				    case 'deleteBatch':
				      deleteBatch();
					break;
				  };
			})
			//监听行工具事件
		   table.on('tool(administratorTable)', function(obj){
			   var data = obj.data; //获得当前行数据
			   var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			  if(layEvent === 'del'){ //删除
				  layer.confirm('真的删除【'+data.realName+'】这个管理员吗', function(index){
				       //向服务端发送删除指令
				       $.post("/system/administrator/deleteAdministrator.html",{id:data.id},function(res){
				    	   res=$.parseJSON(res )
				    	   layer.msg(res.msg);
				    	    //刷新数据 表格
							tableIns.reload();
				       })
				     }); 
			   } else if(layEvent === 'edit'){ //编辑
			     openUpdateAdministrator(data);
			   }else if(layEvent==='resetAdministratorPwd'){
				   layer.confirm('真的重置【'+data.realName+'】这个管理员的密码吗', function(index){
				       //向服务端发送删除指令
				       $.post("/system/administrator/resetAdministratorPwd.html",{id:data.id},function(res){
				    	   res=$.parseJSON(res )
				    	   layer.msg(res.msg);
				       })
				     }); 
			   }else if(layEvent==='selectAdministratorRole'){
				   openselectAdministratorRole(data);
			   }else if(layEvent==='viewImage'){
				   showAdministratorImage(data);
			   }
			 });
			
			var url;
			var mainIndex;
			//打开添加页面
			function openAddAdministrator(){
				$("#showAdministratorAvatar").removeAttr('src');;
				mainIndex=layer.open({
					type:1,
					title:'添加管理员',
					content:$("#saveOrUpdateDiv"),
					area:['900px','500px'],
					maxmin: true,  //窗口放大放小
					btnAlign: 'c', //按钮居中
					success:function(index){
						$("#showAdministratorAvatar").attr("src","");
						//清空表单数据       
						$("#dataFrm")[0].reset();
						url="/system/administrator/addAdministrator.html";
					}
				});
			}
			
			//打开修改页面
			function openUpdateAdministrator(data){
				mainIndex=layer.open({
					type:1,
					title:'修改【'+data.administratorName+'】信息',
					content:$("#saveOrUpdateDiv"),
					area:['900px','500px'],
					maxmin: true,  //窗口放大放小
					btnAlign: 'c', //按钮居中
					success:function(index){
						form.val("dataFrm",data);
						url="/system/administrator/updateAdministrator.html";
						$("#showAdministratorAvatar").attr("src",data.avatarUrl);
						$("#administratorName").attr("readonly","readonly");
						$("#realName").attr("readonly","readonly");
					}
				});
			}

			//保存
			form.on("submit(doSubmit)",function(obj){
				//序列化表单数据
				var params=$("#dataFrm").serialize();
				$.post(url,params,function(obj){
					obj=$.parseJSON(obj )
					layer.msg(obj.msg);
					//关闭弹出层
					layer.close(mainIndex)
					//刷新数据 表格
					tableIns.reload();
				})
			});
			
			//批量删除
			function deleteBatch(){
				//得到选中的数据行
				var checkStatus = table.checkStatus('administratorTable');
			    var data = checkStatus.data;
			    var params="";
			    $.each(data,function(i,item){
			    	if(i==0){
			    		params+="ids="+item.id;
			    	}else{
			    		params+="&ids="+item.id;
			    	}
			    });
			    layer.confirm('真的删除选中的这些管理员吗', function(index){
				       //向服务端发送删除指令
				       $.post("/system/administrator/deleteBatchAdministrator.html",params,function(res){
				    	   res=$.parseJSON(res )
				    	   layer.msg(res.msg);
				    	    //刷新数据 表格
							tableIns.reload();
				       })
				     }); 
			}
			
			//打开分配角色的弹出层
			function openselectAdministratorRole(data){
				mainIndex=layer.open({
					type:1,
					title:'分配【'+data.realName+'】的角色',
					content:$("#selectAdministratorRole"),
					area:['850px','400px'],
					height:'full',
					maxmin: true,  //窗口放大放小
					btnAlign: 'c', //按钮居中
					btn:['<div class="layui-icon layui-icon-release">确认分配</div>','<div class="layui-icon layui-icon-close">取消分配</div>'],
					yes:function(index, layero){
						//得到选中的数据行
						var checkStatus = table.checkStatus('roleTable');
						var roleData = checkStatus.data;
						var params="id="+data.id;
					    $.each(roleData,function(i,item){
					    	params+="&ids="+item.roleId;
						});
					    //保存
					    $.post("/system/administrator/saveAdministratorRole.html",params,function(obj){
					    	obj=$.parseJSON(obj )
					    	layer.msg(obj.msg);
					    })
					},
					success:function(index){
						//渲染数据表格
						 var roleTableIns=table.render({
							 elem: '#roleTable'   //渲染的目标对象
						    ,url:'/system/administrator/initAdministratorRole.html?id='+data.id //数据接口
						    ,title: '角色列表'//数据导出来的标题
						    ,cellMinWidth:100 //设置列的最小默认宽度
						    ,cols: [ [   //列表数据
						     {type: 'checkbox', fixed: 'left'}
						      ,{field:'roleId', title:'ID',width:80,align:'center'}
						      ,{field:'roleName', title:'角色名称',width:160,align:'center'}
						      ,{field:'roleDesc', title:'角色备注',align:'center'}
						    ] ]
						})
					}
				});
			}
			
			//查看大图
			function showAdministratorImage(data){
				
				mainIndex=layer.open({
					type:1,
					title:"【"+data.administratorName+'】的头像图片',
					content:$("#viewAdministratorImageDiv"),
					area:['600px','400px'],
					success:function(index){
						$("#view_avatarUrl").attr("src",data.avatarUrl);
					}
				});
			}
			
			   //图片上传
		    var uploadInst = upload.render({
		      elem: '#uploadFile'
		      ,field:"file"
		      ,size: 2048 //限制文件大小，单位 KB //限制文件大小，单位 KB
		      ,url: '${pageContext.request.contextPath }/file/pic/upload.html' //改成您自己的上传接口
		      ,before: function(obj){
		      	layer.load(); //上传loading
		        //预读本地文件示例，不支持ie8
		        obj.preview(function(index, file, result){
		          $('#showAdministratorAvatar').attr('src', result); //图片链接（base64）
		        });
		      }
		      ,done: function(res){
		        layer.closeAll('loading'); //关闭loading
		        //如果上传失败
		        if(res.code != 0){
		          return layer.msg(res.message);
		        }
		        //上传成功
		        $("#avatarUrl").val(res.data.src);
		        return layer.msg('上传成功');
		      }
			
		});
	    
	  })
	</script>
</body>
</html>