
<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>卖剩鸭</title>
	<!-- Template CSS -->
	<link rel="stylesheet" th:href="@{/css/style-starter.css}">
	<!-- Template CSS -->
	<link href="http://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>

	<!--引入头部-->
	<div th:replace="common/header::#web_top(hotSearch=${hotSearch},activeUri='index')"></div>

	<!-- 主滑块 Banner -->
	<section class="w3l-main-slider position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">

				<div th:each="item:${banners}">
					<a th:href="@{/detail(category=${item.category},id=${item.id})}">
						<div class="item" >
							<li>
								<div class="slider-info banner-view bg bg2"  th:style="'background: url('+*{item.poster}+') no-repeat center 100%'">
									<div class="banner-info" >
										<h3><span style="font-size: 16px" th:text="${item.title}"></span></h3>
										<p style="font-size: 10px" th:text="${item.describe}"></span></p>
										<div  class="popup-with-zoom-anim play-view1">
											<span class="video-play-icon">
												<span class="fa fa-play"></span>
											</span>
											<h6 style="font-size: 16px">立刻观看</h6>
										</div>
										<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
										<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
											<iframe src="" allow="autoplay; fullscreen"
													allowfullscreen=""></iframe>
										</div>
									</div>
								</div>
							</li>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>
	<!-- /横幅滑块-->
	<!-- 主滑块  Banner-->

	<!--网格-sec1:动漫-->
	<section class="w3l-grids" style="margin-top: -50px">
		<div class="grids-main py-5">
			<div class="container py-5">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">热播动漫</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" th:href="@{/category(category=1)}">更多</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids" >
<!--				<div class="owl-three owl-carousel owl-theme">-->
					<div class="item vhny-grid"  th:each="item:${cartoons}">
						<div class="box16 ">
							<a th:href="@{/detail(category=${item.category},id=${item.id})}">
								<figure>
									<img  class="img-fluid thumbnail" th:src="${item.thumbnail}" alt="">
								</figure>
								<div class="box-content">
									<h2 class="title"><span style="font-weight: bold" th:text="${item.title}"></span></h2>
									<h3 class="title"><span th:text="${item.status}"></span></h3>
									<h4> <span class="post"><span class="fa fa-clock-o"> </span>
										<span th:text="${#dates.format(item.updateTime,'yyyy-MM-dd')}"></span>
										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--/网格-sec1-->

	<!--网格-sec1:电影-->
	<section class="w3l-grids" style="margin-top: -200px">
		<div class="grids-main py-5">
			<div class="container py-5">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">热播电影</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" th:href="@{/category(category=2)}">更多</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids" >
					<!--				<div class="owl-three owl-carousel owl-theme">-->
					<div class="item vhny-grid"  th:each="item:${movices}">
						<div class="box16 ">
							<a th:href="@{/detail(category=${item.category},id=${item.id})}">
								<figure>
									<img  class="img-fluid thumbnail" th:src="${item.thumbnail}" alt="">
								</figure>
								<div class="box-content">
									<h2 class="title"><span style="font-weight: bold" th:text="${item.title}"></span></h2>
									<h3 class="title"><span th:text="${item.status}"></span></h3>
									<h4> <span class="post"><span class="fa fa-clock-o"> </span>
										<span th:text="${#dates.format(item.updateTime,'yyyy-MM-dd')}"></span>
										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--/网格-sec1-->

	<!--网格-sec1:电视剧-->
	<section class="w3l-grids" style="margin-top: -200px">
		<div class="grids-main py-5">
			<div class="container py-5">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">热播电视剧</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" th:href="@{/category(category=3)}">更多</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids" >
					<!--				<div class="owl-three owl-carousel owl-theme">-->
					<div class="item vhny-grid"  th:each="item:${tvPlays}">
						<div class="box16 ">
							<a th:href="@{/detail(category=${item.category},id=${item.id})}">
								<figure>
									<img  class="img-fluid thumbnail" th:src="${item.thumbnail}" alt="">
								</figure>
								<div class="box-content">
									<h2 class="title"><span style="font-weight: bold" th:text="${item.title}"></span></h2>
									<h3 class="title"><span th:text="${item.status}"></span></h3>
									<h4> <span class="post"><span class="fa fa-clock-o"> </span>
										<span th:text="${#dates.format(item.updateTime,'yyyy-MM-dd')}"></span>
										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--/网格-sec1-->

	<!--网格-sec1：综艺-->
	<section class="w3l-grids"  style="margin-top: -200px">
		<div class="grids-main py-5">
			<div class="container py-5">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">热播综艺</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" th:href="@{/category(category=4)}">更多</a></h4>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids" >
					<!--				<div class="owl-three owl-carousel owl-theme">-->
					<div class="item vhny-grid"  th:each="item:${varieties}">
						<div class="box16 ">
							<a th:href="@{/detail(category=${item.category},id=${item.id})}">
								<figure>
									<img  class="img-fluid thumbnail" th:src="${item.thumbnail}" alt="">
								</figure>
								<div class="box-content">
									<h2 class="title"><span style="font-weight: bold" th:text="${item.title}"></span></h2>
									<h3 class="title"><span th:text="${item.status}"></span></h3>
									<h4> <span class="post"><span class="fa fa-clock-o"> </span>
										<span th:text="${#dates.format(item.updateTime,'yyyy-MM-dd')}"></span>
										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--/网格-sec1-->


	<!--网格-sec2:猜你喜欢-->
	<section class="w3l-grids" style="margin-top: -150px" >
		<div class="grids-main py-5">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">猜你喜欢</h3>
						</div>
						<div class="headerhny-right text-lg-right">
							<h4><a class="show-title" href="bk/genre.html"></a></h4>
						</div>
					</div>
				</div>
				<div class="owl-three owl-carousel owl-theme">

					<div class="item vhny-grid" th:each="video:${videos}" style="text-align: center">
						<div class="box16 mb-0">
							<a th:href="@{/detail(category=${video.category},id=${video.id})}">
								<figure>
									<img class="img-fluid guessLike" th:src="${video.thumbnail}" alt="">
								</figure>
								<div class="box-content">
									<h2 class="title"><span style="font-weight: bold" th:text="${video.title}"></span></h2>
									<h3 class="title"><span th:text="${video.status}"></span></h3>
									<h4> <span class="post"><span class="fa fa-clock-o"> </span>
											<span th:text="${#dates.format(video.updateTime,'yyyy-MM-dd')}"></span>
										</span>

										<span class="post fa fa-heart text-right"></span>
									</h4>
								</div>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
						</div>

					</div>

				</div>
			</div>

		</div>
	</section>


    <!--网格-sec2-->

	<!-- 引入底部 -->
	<div th:replace="common/bottom::#web_bottom"></div>



</body>

<!-- 响应选项卡 -->
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/easyResponsiveTabs.js}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		//水平制表 Tab
		$('#parentHorizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion
			width: 'auto', //auto or any width like 600px
			fit: true, // 100% fit in a container
			tabidentify: 'hor_1', // The tab groups identifier
			activate: function (event) { // Callback function if tab is switched
				var $tab = $(this);
				var $info = $('#nested-tabInfo');
				var $name = $('span', $info);
				$name.text($tab.text());
				$info.show();
			}
		});
	});
</script>
<!-- //水平制表 Tab -->
<!--/主题变更-->
<script th:src="@{/js/theme-change.js}"></script>
<!-- //主题变更-->
<script th:src="@{/js/owl.carousel.js}"></script>
<!-- 横幅滑块脚本-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			stagePadding:280,
			loop: true,
			margin: 20,
			nav: true,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					stagePadding:40,
					nav: false
				},
				480: {
					items: 1,
					stagePadding:60,
					nav: true
				},
				667: {
					items: 1,
					stagePadding:80,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //script -->
<script>
	$(document).ready(function () {
		$('.owl-three').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items: 5,
					nav: true
				}
			}
		})
	})
</script>
<!-- //script -->
<!-- /mid-script -->
<script>
	$(document).ready(function () {
		$('.owl-mid').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //mid-script -->

<!-- script for owlcarousel -->
<!-- Template JavaScript -->
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>
<!--//-->
<!-- 禁用导航栏处于活动状态的正文滚动 -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!-- 禁用导航栏处于活动状态的正文滚动 -->

<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//主导航活动类添加和删除
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>
<!--//MENU-JS-->

<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- 自定义js -->
<script>
	$(function () {
		var window_height=$(window).height()
		if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iOS|iPad|Backerry|WebOS|Symbian|Windows Phone|Phone)/i))) {
			$('.thumbnail').css('height',window_height/2.5+'px')
			$('.guessLike').css('height',window_height/2.5+'px')
		}else{
			$('.thumbnail').css('height','350px')
			$('.guessLike').css('height','330px')
		}

	});

	$(function () {

		$('#search-btn').click(function () {
			var search_content=$('#search-content').val();
			if(search_content!=null&&search_content!=''&&search_content!=NaN){
				window.location.href='/search?content='+search_content;
			}
		})
	});

</script>
<!-- 自定义js --->

</html>
